<%- include ('../partials/head') -%>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark  fixed-top ">

        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <a class="navbar-toggler d-lg-none" href="#" data-toggle="modal" data-target="#cart"
            style="text-transform:uppercase " >cart(<span class="total-count"></span>)</a>



        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/">หน้าหลัก <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">

                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" style="text-transform:uppercase">gucci</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="/products/gucci" style="text-transform:uppercase"><img
                                    src="/images/products/gucci/guc_1.png" width=150>shirts</a>
                            <a class="dropdown-item" href="/products/gucci" style="text-transform:uppercase">pants</a>
                            <a class="dropdown-item" href="/products/gucci" style="text-transform:uppercase">shoes</a>


                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" style="text-transform:uppercase">gucci</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="/products/gucci" style="text-transform:uppercase">shirts</a>
                        <a class="dropdown-item" href="/products/gucci" style="text-transform:uppercase">pants</a>
                        <a class="dropdown-item" href="/products/gucci" style="text-transform:uppercase">shoes</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">รองเท้า</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="/men_shoes">รองเท้าผู้ชาย</a>
                        <a class="dropdown-item" href="/woman_shoes">รองเท้าผู้หญิง</a>
                    </div>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/cart">ตะกร้าสินค้า<span class="sr-only"></span></a>
                </li>
            </ul>
            <a class="py-2 d-none d-md-inline-block login-button" href="/login">เข้าสู่ระบบ</a>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        </div>

        <div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content bg-dark">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" style="color: white;">Cart</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body ">
                        <table class="show-cart table" style="color: white">

                        </table>
                        <div style="color: white;">Total price: ฿<span class="total-cart"></span>฿</div>
                    </div>
                    <div class="modal-footer">
                        <button class="clear-cart btn btn-danger">Clear Cart</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Order now</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <script src="/js/shopcart.js"></script>
</body>