

<footer class="container py-5" style="margin-top: 7%;">
    <hr>
    <div class="row justify-content-center">
        <div class="col-12 col-md">
            <ul class="list-unstyled text-small">
            <li><img src="/images/logo/logo01.png" width=90 height=90></li>
            <li><small class="d-block mb-3 text-muted">&copy; 2017-2019</small></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>IZLE Shop</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">About Us</a></li>
                <li><a class="text-muted" href="#">Store Location</a></li>
            </ul>
        </div>

        <div class="col-6 col-md">
            <h5>Customer Service</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">How to Order</a></li>
                <li><a class="text-muted" href="#">Shipping</a></li>
                <li><a class="text-muted" href="#">Return</a></li>
                <li><a class="text-muted" href="#">Payment</a></li>
                <li><a class="text-muted" href="#">Order Track</a></li>
            </ul>
        </div>

        <div class="col-6 col-md">
            <h5>Contact Us</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted">61010084@kmitl.ac.th</a></li>
                <li><a class="text-muted">61010458@kmitl.ac.th</a></li>
                <li><a class="text-muted">61010460@kmitl.ac.th</a></li>
                <li><a class="text-muted">61010637@kmitl.ac.th</a></li>
            </ul>
        </div>
    </div>
</footer>