<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between ">

      <a class="py-2 d-none d-md-inline-block" href="/">หน้าหลัก</a>
      <div class="dropdown">
      <button class="dropbtn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        เสื้อ
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item " href="/woman_clothes">เสื้อผู้หญิง</a>
        <a class="dropdown-item" href="/men_clothes">เสื้อผู้ชาย</a>
  
      </div>
    </div>
  
        <div class="dropdown">
        <button class="dropbtn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          กางเกง
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item " href="/woman_pants">กางเกงผู้หญิง</a>
          <a class="dropdown-item" href="/men_pants">กางเกงผู้ชาย</a>
          
        </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              รองเท้า
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="/woman_shoes">รองเท้าผู้หญิง</a>
              <a class="dropdown-item" href="/men_shoes">รองเท้าผู้ชาย</a>
              
            </div>
            </div>
        
        <a class="py-2 d-none d-md-inline-block" href="/cart">ตะกร้าสินค้า</a>
        <a class="py-2 d-none d-md-inline-block" href="/login">เข้าสู่ระบบ</a>
      
    </div>
  </nav>