<head>
    <!-- <style>
        @media (max-width: 1200px) {
            body {
                margin-top: 50px;
            }

            .navbar {
                position: fixed;
                right: 0;
                left: 0;
                border-radius: 0;
                top: 0;
            }
        }
    </style> -->
</head>

<nav class="navbar navbar-expand-md stiky-top navbar-dark bg-dark ">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNav"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>


    </button>
    <div class="collapse navbar-collapse" id="collapsibleNav">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            <li class="nav-item ">
                <a class="nav-link" id="navcolor" href="/" style="text-transform:uppercase">home</a>
            </li>
            <% brand.forEach(function(brands){ %>
                <li class="nav-item ">
                    <a class="nav-link" id="navcolor" href="/users/<%= brands.brand %> " style="text-transform:uppercase">
                        <%= brands.brand%> <span class="sr-only"></span></a>
                </li>
                <% }) %>
                    <li class="nav-item ">
                        <a class="nav-link" id="navcolor" href="/cart" style="text-transform:uppercase">cart(<span
            class="total-count"></span>)</a>
                    </li>

        </ul>

        <% if (users && users.admin==1){ %>

        <div class="dropdown">
            <a class=" dropdown-toggle" id="usercolor" style="text-transform:uppercase; margin-right: 20px; ">
                <%= users.username%>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
                <a class="dropdown-item" href="/admin/addproducts" style="text-transform:uppercase; ">Add product</a>



                <a class="dropdown-item" href="/admin/addbrand" style="text-transform:uppercase; ">Add brand </a>

                <a class="dropdown-item" href="/logout" style="text-transform:uppercase ">logout</a>

            </div>
        </div>
        <% } %>


        <% if(!users){ %>
        <a id="navcolor" href="/login" style="text-transform:uppercase; margin-right: 20px;">login</a>
        <% } %>
        <% if (users &&users.admin!==1){ %>
        <div class="dropdown">
            <a class=" dropdown-toggle" id="usercolor" style="text-transform:uppercase; margin-right: 20px; ">
                <%= users.username%>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
                <a class="dropdown-item" href="/logout" style="text-transform:uppercase ">logout</a>

            </div>
        </div>
        <% } %>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>

</nav>
</div>

<body>



    <script src="/js/shopcart.js"></script>
</body>