<<<<<<< HEAD
<nav class="navbar navbar-expand-md navbar-dark bg-dark  fixed-top ">
=======

<nav class="navbar navbar-expand-md  fixed-top " style ="background-color:#000000">
>>>>>>> 0dd5e6cb05eba48522f0e7efc7aed058e5aa4df4


    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        
        <span class="navbar-toggler-icon"></span>
        <span>Menu</span>

    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
<<<<<<< HEAD
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item ">
                <a class="nav-link" href="/">หน้าหลัก<span class="sr-only"></span></a>
=======
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0" >
            <li class="nav-item " >
                <a class="nav-link" id="navcolor" href="/" style="text-transform:uppercase">home</a>
>>>>>>> 0dd5e6cb05eba48522f0e7efc7aed058e5aa4df4
            </li>
            <li class="nav-item "  >
                <a class="nav-link" id="navcolor" href="/products/gucci" style="text-transform:uppercase">gucci<span class="sr-only"></span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" id="navcolor" href="/products/balenciaga" style="text-transform:uppercase">balenciaga<span class="sr-only"></span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" id="navcolor" href="/products/nike" style="text-transform:uppercase">nike<span class="sr-only"></span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" id="navcolor" href="/products/adidas" style="text-transform:uppercase">adidas</span class="sr-only"></span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" id="navcolor" href="/products/reebok" style="text-transform:uppercase">reebok<span class="sr-only"></span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" id="navcolor" href="/products/vans" style="text-transform:uppercase">vans<span class="sr-only"></span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" id="navcolor" href="/products/amiri" style="text-transform:uppercase">amiri<span class="sr-only"></span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" id="navcolor" href="/products/converse" style="text-transform:uppercase">converse<span class="sr-only"></span></a>
            </li>





            <li class="nav-item ">
                <a class="nav-link" id="navcolor" href="#" data-toggle="modal" data-target="#cart" style="text-transform:uppercase">cart(<span
                class="total-count"></span>)</a>

            </li>
        </ul>
        <% if(!users){ %>
            <a class="py-2 d-none d-md-inline-block login-button" id="navcolor" href="/login" style="text-transform:uppercase">login</a>
            <% } %>
                <% if (users){ %>
                    <div class="dropdown">
                        <a class="py-2 d-none d-md-inline-block login-button nav-link dropdown-toggle" style="text-transform:uppercase">
                            <%= users.username%>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
<<<<<<< HEAD
                            <a class="dropdown-item" href="/logout">ออกจากระบบ</a>
=======
                            <a class="dropdown-item" href="/users/logout" style="text-transform:uppercase">logout</a>
>>>>>>> 0dd5e6cb05eba48522f0e7efc7aed058e5aa4df4

                        </div>
                    </div>
                    <% } %>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0"  type="submit">Search</button>
                        </form>
    </div>
    </div>
</nav>

<body>
<<<<<<< HEAD
    <div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
=======
<div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg"  role="document">
            <div class="modal-content bg-dark" >
>>>>>>> 0dd5e6cb05eba48522f0e7efc7aed058e5aa4df4
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="color: white;">Cart</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body " >
                    <table class="show-cart table" style="color: white">

                    </table>
                    <div style="color: white;">Total price: <span class="total-cart"></span> ฿</div>
                </div>
                <div class="modal-footer">
<<<<<<< HEAD
                    <form action="/test" method="POST">
                        <button class="clear-cart btn btn-danger">ล้างตะกร้า</button>
                    </form>
                    <form action="/test" method="POST">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                    </form>
                    <form action="/test" method="POST">
                        <button type="button" class="btn btn-primary">สั่งซื้อ</button>
                    </form>
=======
                    <button class="clear-cart btn btn-danger">Clear Cart</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Order now</button>
>>>>>>> 0dd5e6cb05eba48522f0e7efc7aed058e5aa4df4
                </div>
            </div>
        </div>
    </div>
    <script src="/js/shopcart.js"></script>
</body>