* {
    font-family: 'Sarabun', sans-serif;
}

body {
    padding: 50px;
    /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}

h1 {
    text-transform: uppercase;
}

.navstyle {
    margin-top: 3%;
    border-radius: 10px;
}

.setposition {
    text-align: right;
    display: block;
    margin-top: -3%;
    padding-bottom: 1%;
    text-decoration: none;
    color: black;
}

.dropbtn {
  /* font-size: 16px;   */
  border: none;
  outline: none;
  color: gray;
  /* padding: 14px 16px; */
  background-color: inherit;
  font-family: inherit;
  margin-top: 8px;
}

.dropbtn:hover {
  /* font-size: 16px;   */
  border: none;
  outline: none;
  color: white;
  /* padding: 14px 16px; */
  background-color: inherit;
  font-family: inherit;
  margin-top: 8px;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown-item {
  color: black;
}

.login-button  {
  margin-right: 20px; 
  color: gray; 
  text-decoration: none;

}
.login-button:hover {
  margin-right: 20px; 
  color: white; 
  text-decoration: none;
}