<head>
    <%- include ('../partials/head') -%>
        <title>Cart</title>
</head>

<%- include ('../partials/nav') -%>

    <body>
        <div class="container" style="margin-top: 5%">
            <div class="row justify-content-center">
                <h4><b>CART</b></h4>
            </div>
            <div class="row justify-content-center">
                <% if (cart.total <= 0){ %>
                    <div class="alert alert-danger" role="alert">
                        You haven’t added any pieces to your cart, but not for long!
                      </div>
                    <% } %>
            </div>
           
            <br>
            
            <div class="row justify-content-center">
                <table class="table">
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td><img src="images/products/gucci/guc_1.png" width="72" height="72"></td>
                        <td>Test</td>
                        <td>Price</td>
                        <td>Size</td>
                        <td>QTY</td>
                    </tbody>
                  </table>
                
                
            </div>
        </div>
        <form action="/users/payment" method="POST" class="form-group">
            <script src="http://checkout.stripe.cpm/checkout.js" class="stripe.button" data-name="" data-key="pk_test_51Hqx98I1kRWYSgPMj2J5DBfbaymaaJiFckYu1Gnp2k0LQsZQFR2kyyOkr2hkWFMOQhABEpkgexu2gLyAtxXOO0Ra00JXccQu3v">
            </script>

        </form>
        <script src="/js/shopcart.js"></script>
    </body>