<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head') -%>
    <title>Home</title>
    <!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/product.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Sarabun&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <title>Home</title>
</head> -->

    <body>
        <!-- <nav class="site-header sticky-top py-1">
        <div class="container d-flex flex-column flex-md-row justify-content-between ">

          <a class="py-2 d-none d-md-inline-block" href="/">หน้าหลัก</a>
          <div class="dropdown">
          <button class="dropbtn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            เสื้อ
          </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item " href="/woman_clothes">เสื้อผู้หญิง</a>
                    <a class="dropdown-item" href="/men_clothes">เสื้อผู้ชาย</a>

                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              กางเกง
            </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item " href="/woman_pants">กางเกงผู้หญิง</a>
                    <a class="dropdown-item" href="/men_pants">กางเกงผู้ชาย</a>

                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  รองเท้า
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="/woman_shoes">รองเท้าผู้หญิง</a>
                    <a class="dropdown-item" href="/men_shoes">รองเท้าผู้ชาย</a>

                </div>
            </div>

            <a class="py-2 d-none d-md-inline-block" href="/cart">ตะกร้าสินค้า</a>
            <a class="py-2 d-none d-md-inline-block" href="/login">เข้าสู่ระบบ</a>

        </div>
      </nav> -->

        <!-- <%- include('layout') %>  -->

    </body>

</html>