<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head') -%>
    <title>Home</title>

<<<<<<< HEAD
<body>


    <%- include('layout') %>
=======
    <body>


        <%- include('layout') %>
>>>>>>> 6fe0536983d22e10649f5c1fec29e8bba7ceeadf


</body>

</html>