<head>
  <%- include ('../partials/head') -%>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>

<header>
  <a href="/"><img src="/images/back-arrow.png" alt="Logo" width="50" height="50"></a>
</header>

<body>
    <form class="form-signin">
        <div class="text-center mb-4">
            <img class="mb-4" src="/images/company_logo.png" alt="Logo" width="200" height="200">
            <h1 class="h3 mb-3 font-weight-normal">Login</h1>

        </div>
        <div class="row justify-content-center">
            <div class="form-label-group col-6">
                <input type="username" id="inputUsername" class="form-control" placeholder="Username" required>
                <label for="inputEmail"></label>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="form-label-group col-6">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <label for="inputPassword"></label>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="checkbox mb-3">
                <label>
      <input type="checkbox" value="remember-me"> Remember me &nbsp;&nbsp;&nbsp;
    </label>
            </div>
            <a href="/register">Register?</a>
        </div>



        <div class="row justify-content-center">
            <button class="btn btn-lg btn-primary btn-block col-4" type="submit">Sign in</button>

        </div>

        <!-- <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2020</p> -->
    </form>
</body>

</html>