<head>
    <%- include ('../partials/head') -%>

        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
            
            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        </style>
</head>

<header>
    <a href="/login"><img src="/images/logo/prev3.png" onmouseover="this.src='/images/logo/prev4.png'" onmouseout="this.src='/images/logo/prev3.png'" alt="Logo" width="80" height="70"></a>
</header>


<body>
    <form class="form-signin" action="/register" method="POST">
        <div class="text-center mb-4">
            <!-- <img class="mb-4" src="/images/izle_logo2.png" alt="logo"> -->
            <h1 class="h3 mb-3 font-weight-normal" style="margin-top:10%;">Register</h1>
        </div>
        <div class="row justify-content-center">
            <div class="form-label-group col-md-4">
                <input type="username" id="inputUsername" name="username" class="form-control" placeholder="Username" required>
                <label for="inputEmail"></label>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="form-label-group col-md-4">
                <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email" required autofocus>
                <label for="inputEmail"></label>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="form-label-group col-md-4">
                <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
                <label for="inputPassword"></label>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="form-label-group col-md-4">
                <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Confirm Password" required>
                <label for="inputPassword"></label>
            </div>
        </div>
        </div>

        <div class="row justify-content-center">
            <div class="checkbox mb-3">

            </div>
        </div>

        <div class="row justify-content-center">
            <button class="btn btn-lg bg-dark btn-block col-md-2" id="nameproducts" type="submit">Submit</button>

        </div>


    </form>
</body>

</html>