<head>
    <%- include ('../partials/head') -%>
    <title>ADIDAS</title>
</head>
<%- include ('../partials/nav') -%>
<%- include('../partials/size') %>

<body>

    <%- include ('../partials/promotions') -%>
    <img src="/images/products/adidas/adi.gif" style="margin-top: 20px;" class="w-100">

    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-16">
                <div class="card" style="width: 18rem; margin-top:20px;">
                    <div class="img-magnifier-container">
                        <img id="myimage" src="/images/products/adidas/adi_1.png" class="card-img-top"
                            alt="adidas shoes">
                    </div>
                    <div class="card-body bg-dark" id="nameproducts">
                        <h5 class="card-title">Yeezy 350 V2 "Bred"</h5>
                        <p class="card-text">18,000 ฿ </p>
                        <a href="#" data-name="adidas-yeezy-350" data-price="18000" data-toggle="modal"
                            data-target="#confirm" class="btn btn-primary add-to-cart">Add to cart</a>


                    </div>
                </div>
            </div>

            <div class="col-md-16">
                <div class="card" style="width: 18rem;margin-top:20px;">
                    <div class="img-magnifier-container">
                        <img id="myimage2" src="/images/products/adidas/adi_2.png" class="card-img-top"
                            alt="adidas shoes">
                    </div>
                    <div class="card-body bg-dark" id="nameproducts">

                        <h5 class="card-title">Superstar</h5>
                        <p class="card-text">3,200 ฿ </p>
                        <a href="#" data-name="adidas-superstar" data-price="3200" data-toggle="modal"
                            data-target="#confirm" class="btn btn-primary add-to-cart">Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="col-md-16">
                <div class="card" style="width: 18rem;margin-top:20px;">
                    <div class="img-magnifier-container">
                        <img id="myimage3" src="/images/products/adidas/adi_3.png" class="card-img-top"
                            alt="adidas shoes">
                    </div>
                    <div class="card-body bg-dark" id="nameproducts">
                        <h5 class="card-title">Yeezy 700</h5>
                        <p class="card-text">16,000 ฿</p>
                        <a href="#" data-name="adidas-yeezy-700" data-price="16000" data-toggle="modal"
                            data-target="#confirm" class="btn btn-primary add-to-cart">Add to cart
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/shopcart.js"></script>
    <script src="/js/magnifier_glass.js"></script>

    <script>
        magnify("myimage", 2);
        magnify("myimage2",2);
        magnify("myimage3", 2);
    </script>
</body>