<head>
    <%- include ('../partials/head') -%>
    <title>AMIRI</title>
</head>
<%- include ('../partials/nav') -%>
<%- include('../partials/size') %>

<body>

    <%- include ('../partials/promotions') -%>
    <img src="/images/products/amiri/amiri.gif" alt="amiri ad" style="margin-top: 20px;" class="w-100">

    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-16">
                <div class="card" style="width: 18rem; margin-top:20px;">
                    <div class="img-magnifier-container">
                    <img id="myimage" src="/images/products/amiri/amiri_1.png" class="card-img-top" alt="amiri shoes">
                </div>
                    <div class="card-body bg-dark" id="nameproducts">
                        <h5 class="card-title">Skel Toe (Blue)</h5>
                        <p class="card-text">14,000 ฿</p>
                        <a href="#" data-name="amiri-skel-toe-blue" data-price="14000" data-toggle="modal"
                        data-target="#confirm" class="btn btn-primary add-to-cart">Add to cart</a>

                    </div>
                </div>
            </div>

            <div class="col-md-16">
                <div class="card" style="width: 18rem;margin-top:20px;">
                    <div class="img-magnifier-container">
                    <img id="myimage2" src="/images/products/amiri/amiri_2.png" class="card-img-top" alt="amiri shoes">
                </div>
                    <div class="card-body bg-dark" id="nameproducts">
                        <h5 class="card-title">Bandana</h5>
                        <p class="card-text">15,000 ฿</p>
                        <a href="#" data-name="amiri-badana" data-price="15000" data-toggle="modal"
                        data-target="#confirm" class="btn btn-primary add-to-cart">Add
                            to cart</a>
                    </div>
                </div>
            </div>
            <div class="col-md-16">
                <div class="card" style="width: 18rem;margin-top:20px;">
                    <div class="img-magnifier-container">
                    <img id="myimage3" src="/images/products/amiri/amiri_3.png" class="card-img-top" alt="amiri shoes">
                    </div>
                    <div class="card-body bg-dark" id="nameproducts">
                        <h5 class="card-title">Skel Toe</h5>
                        <p class="card-text">16,000 ฿</p>
                        <a href="#" data-name="amiri-skel-toe" data-price="16000" data-toggle="modal"
                        data-target="#confirm" class="btn btn-primary add-to-cart">Add
                            to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/shopcart.js"></script>
    <script src="/js/magnifier_glass.js"></script>

    <script>
        magnify("myimage", 2);
        magnify("myimage2",2);
        magnify("myimage3", 2);
    </script>
</body>