<head>
    <%- include ('../partials/head') -%>
    <title>BALENCIAGA</title>
</head>
<%- include ('../partials/nav') -%>
<%- include('../partials/size') %>
<body>

    <%- include ('../partials/promotions') -%>
    <img src="/images/products/balenciaga/Best_Sell.gif" style="margin-top: 20px;" class="w-100">

    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-16">
                <div class="card" style="width: 18rem; margin-top:20px;">
                    <div class="img-magnifier-container">
                    <img id="myimage" src="/images/products/balenciaga/ban_1.png" class="card-img-top" alt="balen shoes">
                </div>
                    <div class="card-body">
                        <h5 class="card-title">Triple S Sneaker</h5>
                        <p class="card-text">37,000 ฿</p>
                        <a href="#" data-name="balenciaga-Triple-S" data-price="37000" data-toggle="modal"
                        data-target="#exampleModal" class="btn btn-primary add-to-cart">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-md-16">
                <div class="card" style="width: 18rem;margin-top:20px;">
                    <div class="img-magnifier-container">
                    <img id="myimage2" src="/images/products/balenciaga/ban_2.png" class="card-img-top" alt="balen shoes">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Track Sneaker</h5>
                        <p class="card-text">31,000 ฿</p>
                        <a href="#" data-name="balenciaga-Track-Sneaker" data-price="31000" class="btn btn-primary add-to-cart " data-toggle="modal"
                        data-target="#exampleModal">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-md-16">
                <div class="card" style="width: 18rem;margin-top:20px;">
                    <div class="img-magnifier-container">
                    <img id="myimage3" src="/images/products/balenciaga/ban_3.png" class="card-img-top" alt="balen shoes">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Speed Sneaker</h5>
                        <p class="card-text">37,000 ฿ </p>
                        <a href="#" data-name="balenciaga-speed-sneaker" data-price="37000" class="btn btn-primary add-to-cart">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/shopcart.js"></script>
    <script src="/js/magnifier_glass.js"></script>

    <script>
        magnify("myimage", 2);
        magnify("myimage2",2);
        magnify("myimage3", 2);
    </script>
</body>