<head>
    <%- include ('../partials/head') -%>
    <title>GUCCI</title>
</head>
<%- include ('../partials/nav') -%>
<%- include('../partials/size') %>
<body>

    <%- include ('../partials/promotions') -%>
    <img src="/images/products/gucci/gucci.gif" style="margin-top: 20px;" class="w-100">

    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-16">
                <div class="card" style="width: 18rem; margin-top:20px;">
                    <div class="img-magnifier-container">
                    <img id="myimage" src="/images/products/gucci/guc_1.png" class="card-img-top" alt="gucci shoes">
                    </div>
                    <div class="card-body bg-dark" id="nameproducts">
                        <h5 class="card-title">Ace Embroidered</h5>
                        <p class="card-text">25,000 ฿ </p>
                        <a href="#" data-name="gucci-ace-embroidered" data-price="25000"
                            class="btn btn-primary add-to-cart" data-toggle="modal" data-target="#confirm">Add to
                            Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-md-16">
                <div class="card" style="width: 18rem;margin-top:20px;">
                    <div class="img-magnifier-container">
                    <img id="myimage2" src="/images/products/gucci/guc_2.png" class="card-img-top" alt="gucci shoes">
                    </div>
                    <div class="card-body bg-dark" id="nameproducts">
                        <h5 class="card-title">Rhyton Gucci logo</h5>
                        <p class="card-text">32,000 ฿</p>
                        <a href="#" data-name="gucci-ryton-gucci-logo" data-price="32000"
                            class="btn btn-primary add-to-cart" data-toggle="modal" data-target="#confirm">Add to
                            Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-md-16">
                <div class="card" style="width: 18rem;margin-top:20px;">
                    <div class="img-magnifier-container">
                    <img id="myimage3" src="/images/products/gucci/guc_3.png" class="card-img-top" alt="gucci shoes">
                    </div>
                    <div class="card-body bg-dark" id="nameproducts">
                        <h5 class="card-title">Ace Distressed</h5>
                        <p class="card-text">33,000 ฿</p>
                        <a href="#" data-name="gucci-ace-distressed" data-price="33000"
                            class="btn btn-primary add-to-cart" data-toggle="modal" data-target="#confirm">Add to
                            Cart</a>
                    </div>
                </div>
            </div>

            <script src="/js/shopcart.js"></script>
            <script src="/js/magnifier_glass.js"></script>

    <script>
        magnify("myimage", 2);
        magnify("myimage2",2);
        magnify("myimage3", 2);
    </script>
</body>