<head>
    <%- include ('../partials/head') -%>
        <title>GUCCI</title>
</head>
<%- include ('../partials/nav') -%>

    <body>

<<<<<<< HEAD
        <%- include ('../partials/promotions') -%>
            <a href=""><img src="/images/products/gucci/gucci.gif" style="margin-top: 20px;" class="w-100"></a>

            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-16">
                        <div class="card" style="width: 18rem; margin-top:20px;">
                            <img src="/images/products/gucci/guc_1.png" class="card-img-top" alt="balen shoes">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="/test" data-name="addas-yeezy" data-price="10000" class="btn btn-primary add-to-cart">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-16">
                        <div class="card" style="width: 18rem;margin-top:20px;">
                            <img src="/images/products/gucci/guc_2.png" class="card-img-top" alt="balen shoes">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" data-name="addas-yeezy" data-price="10000" class="btn btn-primary add-to-cart">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-16">
                        <div class="card" style="width: 18rem;margin-top:20px;">
                            <img src="/images/products/gucci/guc_3.png" class="card-img-top" alt="balen shoes">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" data-name="addas-yeezy" data-price="10000" class="btn btn-primary add-to-cart">Go somewhere</a>
                            </div>
                        </div>
=======
    <%- include ('../partials/promotions') -%>
    <img src="/images/products/gucci/gucci.gif" style="margin-top: 20px;" class="w-100">

    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-16">
                <div class="card" style="width: 18rem; margin-top:20px;">
                    <img src="/images/products/gucci/guc_1.png" class="card-img-top"  alt="gucci shoes">
                    <div class="card-body">
                        <h5 class="card-title">Ace Embroidered</h5>
                        <p class="card-text">25,000 ฿ </p>
                        <a href="#" data-name="addas-yeezy" data-price="10000" class="btn btn-primary add-to-cart">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-16">
                <div class="card" style="width: 18rem;margin-top:20px;">
                    <img src="/images/products/gucci/guc_2.png" class="card-img-top"  alt="gucci shoes">
                    <div class="card-body">
                        <h5 class="card-title">Rhyton Gucci logo</h5>
                        <p class="card-text">32,000 ฿</p>
                        <a href="#" data-name="addas-yeezy" data-price="10000" class="btn btn-primary add-to-cart">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-16">
                <div class="card" style="width: 18rem;margin-top:20px;">
                    <img src="/images/products/gucci/guc_3.png" class="card-img-top"  alt="gucci shoes">
                    <div class="card-body">
                        <h5 class="card-title">Ace Distressed</h5>
                        <p class="card-text">33,000 ฿</p>
                        <a href="#" data-name="addas-yeezy" data-price="10000" class="btn btn-primary add-to-cart">Go somewhere</a>
>>>>>>> 0dd5e6cb05eba48522f0e7efc7aed058e5aa4df4
                    </div>
                </div>
            </div>

            <script src="/js/shopcart.js"></script>
    </body>