<head>
    <%- include ('../partials/head') -%>
    <title>BALENCIAGA</title>
</head>
<%- include ('../partials/nav') -%>

<body>

    <%- include ('../partials/promotions') -%>
    <img src="/images/products/nike/time.gif" style="margin-top: 20px;" class="w-100">

    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-16">
                <div class="card" style="width: 18rem; margin-top:20px;">
                    <img src="/images/products/nike/nike_1.png" class="card-img-top"  alt="nike shoes">
                    <div class="card-body">
                        <h5 class="card-title">Air Max 97 "Silver Bullet"</h5>
                        <p class="card-text">16,000 ฿ </p>
                        <a href="#" data-name="addas-yeezy" data-price="10000" class="btn btn-primary add-to-cart">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-16">
                <div class="card" style="width: 18rem;margin-top:20px;">
                    <img src="/images/products/nike/nike_2.png" class="card-img-top"  alt="nike shoes">
                    <div class="card-body">
                        <h5 class="card-title">AF1 x Peaceminusone</h5>
                        <p class="card-text">20,000 ฿ </p>
                        <a href="#" data-name="addas-yeezy" data-price="10000" class="btn btn-primary add-to-cart">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-16">
                <div class="card" style="width: 18rem;margin-top:20px;">
                    <img src="/images/products/nike/nike_3.png" class="card-img-top"  alt="nike shoes">
                    <div class="card-body">
                        <h5 class="card-title">Air Jordan 11 "Bred"</h5>
                        <p class="card-text">15,700 ฿ </p>
                        <a href="#" data-name="addas-yeezy" data-price="10000" class="btn btn-primary add-to-cart">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/shopcart.js"></script>
</body>