<head>
    <%- include ('../partials/head') -%>
    <title>REEBOK</title>
</head>
<%- include ('../partials/nav') -%>

<body>

    <%- include ('../partials/promotions') -%>
    <img src="/images/products/reebok/reebok.gif" style="margin-top: 20px;" class="w-100">

    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-16">
                <div class="card" style="width: 18rem; margin-top:20px;">
                    <img src="/images/products/reebok/reebok_1.png" class="card-img-top"  alt="reebok shoes">
                    <div class="card-body">
                        <h5 class="card-title">Pump Supreme (White)</h5>
                        <p class="card-text">10,000 ฿</p>
                        <a href="#" data-name="addas-yeezy" data-price="10000" class="btn btn-primary add-to-cart">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-16">
                <div class="card" style="width: 18rem;margin-top:20px;">
                    <img src="/images/products/reebok/reebok_2.png" class="card-img-top"  alt="reebok shoes">
                    <div class="card-body">
                        <h5 class="card-title">Pump x Tom & Jerry</h5>
                        <p class="card-text">10,000 ฿</p>
                        <a href="#" data-name="addas-yeezy" data-price="10000" class="btn btn-primary add-to-cart">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-16">
                <div class="card" style="width: 18rem;margin-top:20px;">
                    <img src="/images/products/reebok/reebok_3.png" class="card-img-top"  alt="reebok shoes">
                    <div class="card-body">
                        <h5 class="card-title">Vetement x Instapump fury</h5>
                        <p class="card-text">30,000 ฿</p>
                        <a href="#" data-name="addas-yeezy" data-price="10000" class="btn btn-primary add-to-cart">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/shopcart.js"></script>
</body>