<head>
    <%- include ('../partials/head') -%>
    <title>VANS</title>
</head>
<%- include ('../partials/nav') -%>
<%- include('../partials/size') %>

<body>

    <%- include ('../partials/promotions') -%>
    <img src="/images/products/vans/van.gif" style="margin-top: 20px;" class="w-100">
<form action="/test" method="POST">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-16">
                <div class="card" style="width: 18rem; margin-top:20px;">
                    <div class="img-magnifier-container">
                    <img id="myimage" src="/images/products/vans/van_1.png" class="card-img-top"  alt="vans shoes">
                    </div>
                    <div class="card-body bg-dark" id="nameproducts">
                        <h5 class="card-title">Vans Era x Fog</h5>
                        <p class="card-text">31,500 ฿</p>
                        <a href="#" data-name="vans-era-x-fog" data-price="31500" class="btn btn-primary add-to-cart" data-toggle="modal"
                        data-target="#confirm">Add to cart</a>
                    </div>
                </div>
            </div>
            </form>
            <div class="col-md-16">
                <div class="card" style="width: 18rem;margin-top:20px;">
                    <div class="img-magnifier-container">
                    <img id="myimage2" src="/images/products/vans/van_2.png" class="card-img-top"  alt="vans shoes">
                    </div>
                    <div class="card-body bg-dark" id="nameproducts">
                        <h5 class="card-title">Vans Japan Slip on V98CLA</h5>
                        <p class="card-text">3,500 ฿</p>
                        <a href="#" data-name="vans-japan-slip-on-v98" data-price="3500" class="btn btn-primary add-to-cart" data-toggle="modal"
                        data-target="#confirm">Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="col-md-16">
                <div class="card" style="width: 18rem;margin-top:20px;">
                    <div class="img-magnifier-container">
                    <img id="myimage3" src="/images/products/vans/van_3.png" class="card-img-top"  alt="vans shoes">
                    </div>
                    <div class="card-body bg-dark" id="nameproducts">
                        <h5 class="card-title">Vans Japan Floater V4410 "logo red"</h5>
                        <p class="card-text">3,800 ฿ </p>
                        <a href="#" data-name="vans-japan-floater-v4410" data-price="3800" class="btn btn-primary add-to-cart" data-toggle="modal"
                        data-target="#confirm">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/shopcart.js"></script>
    <script src="/js/magnifier_glass.js"></script>

    <script>
        magnify("myimage", 2);
        magnify("myimage2",2);
        magnify("myimage3", 2);
    </script>
</body>