
<head>
    <%- include ('../partials/head') -%>
    <title>

    </title>
</head>
<header>

</header>





<body>


    <div class="container">

        <div class="container">
            <div class="row justify-content-between">
                
                <div class="col-md-3">
                    <div class="card" style="width: 15rem;margin-top:20px;">
                        <img id="myimage" src="images/products/gucci/guc_1.png"class="card-img-top" width="150" height="250" alt="gucci shoes">
                        <div class="card-body bg-dark" id="nameproducts">
                            <h5 class="card-title">
                                
                            </h5>
                            <p class="card-text" style="color: white">
                                
                            </p>
                            <form class="form-group" action="/users/cart" method="post">
                                <input type="hidden" name="products_id" value="">
                                <input type="submit" value="Delete" class="btn btn-danger ">

                            </form>
                        </div>
                    </div>
                </div>
                

                

            </div>
        </div>

        <script src="/js/shopcart.js"></script>


</body>